:root {
    --black: rgb(22, 22, 22);
    --white: rgb(240, 240, 240) !important;
}

html {
    scroll-behavior: smooth !important;
}

.bg-dark {
    background-color: var(--black) !important;
}

.bg-white {
    background-color: var(--white) !important;
}

.py-8 {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.py-44 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.px-6 {
    padding-left: 6rem;
    padding-right: 6rem;
}

.pr {
    padding-right: 4rem;
}

.pl {
    padding-left: 4rem;
}

.my-8 {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.my-44 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.my-6 {
    margin-left: 4rem;
    padding-right: 4rem;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--white);
}

main {
    flex-grow: 1;
}

header {
    background-color: rgba(22, 22, 22, 0.95);
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .55;
    overflow: hidden;
}

.hero-content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero-text {
    color: var(--black);
    margin-top: 6rem;
    margin-left: 5rem;
    padding-left: 2rem;
    max-width: 75%;
    border-left: .5rem solid black;
    animation: wave 3s ease 1s backwards;
    backface-visibility: none;
}

.subtitle {
    font-size: 1.2rem;
}

.form-message {
    height: 10rem;
}

.services__title {
    font-size: 2rem;
    color: #fff;
}

.services__paragraph {
    color: #fff !important;
    font-size: 1rem;
    line-height:1.2;
}

.services__columns {
    position: relative;
}

.services__icons {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-left: 1rem solid rgb(44, 44, 49);
    color: var(--black);
}

.service__icons--padding {
    padding: 3rem;
}

.service__icon {
    padding-right: 20px;
}

.shadow-light {
    box-shadow: 5px 5px 15px rgba(255,255,255, 0.3)
}

.about-text {
    padding-left: 6rem;
    padding-right: 6rem;
}

.about__title {
    font-size: 4rem;
    line-height: 1.4
}

.about__paragraph {
    font-size: 1.2rem;
    line-height: 1.7;
}

.about__button {
    align-self: flex-end;
}

.testimonial__card {
    min-height: 15rem;
    max-width: 75%;
    min-width: 30px;
    color: var(--black);
    border-top: .5rem solid black;
}

.testimonial__card--large {
    min-height: 20rem;
}

.testimonial__icons {
    font-size: 2.4rem;
}

.testimonial__icons i:not(:last-child) {
    margin-right: 1.2rem;
}

.testimonial__paragraph {
    font-size: 1.2rem;
    font-weight: thin;
}

.testimonial__image {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
}

.testimonial__author {
    font-size: .9rem;
    color: rgb(85, 85, 85);
}

.testimonial__author > span {
    font-family: 'Covered By Your Grace',
    cursive;
}

.contact__title {
    font-size: 3rem;
}

.contact__paragraph {
    font-size: 1.6rem;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(60%) brightness(120%);
}

footer {
    font-family: 'Quicksand', sans-serif !important;
}

@media only screen and (max-width: 700px) {

    .text-over-heading {
        display: none;
    }

    .services__icons {
        position: relative;
        top: 0;
        left: 0;
        border: none;
        font-size: 1rem;
    }   

    .services__text {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .pr {
        padding-right: 1rem;
    }

    .pl {
        padding-left: 1rem;
    }

    .about__title {
        font-size: 2rem;
        line-height: 1.4
    }

    .about-text {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .testimonial__card {
        min-height: 12rem;
        max-width: 100%;
        min-width: 30px;
    }

    .testimonial__card {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .about__img {
        margin-bottom: 3rem !important;
    }

    .img-column {
        margin-bottom: 2.5rem;
    }

    .py-8 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .service__icons--padding {
        padding: 1rem;
    }

    .gallery__img {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@keyframes wave {
    0% {
        opacity: 0;
        transform: translateY(-5rem);
    }

    70% {
        opacity: .8;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}